.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  font-size: 20px;
  color: #555;
  font-weight: bold;
}

.small-modal {
  .modal-dialog {
    max-width: 500px;
    margin: 0 auto;

    .modal-body {
      max-height: 200px;
      overflow-y: auto;
    }
  }
}