
.franjaLogo {
    background-color:white;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    float: left;

  }
  

  img{
    height: 80%;
    object-fit: contain;
    align-self: flex-start;
    margin: 0%;
  }