


.franjaR {
    color:white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;


    background-color:#c8283b;
    height: 60px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;

    margin-right: 5%;
    overflow: hidden;
  }
